# Spring config
src/main/resources/application.yaml
src/main/resources/application-local.yaml
src/main/resources/application-prod.yaml

# build
/build/
/.gradle/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store

# env
.env
